Test_flow/force-app/main/default/flows/Deactivate_multiple_users.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>ActivateUser</name>
        <label>ActivateUser</label>
        <locationX>1018</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>iterate_users.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_User_to_user_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_User_to_user_list</name>
        <label>add User to user list</label>
        <locationX>1018</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Lise_of_user_to_Activate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>iterate_users</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_user_To_userList</name>
        <label>Add_user_To_userList</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>user_list</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_selectes_users</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_selectes_users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Deactivate_user</name>
        <label>Deactivate_user</label>
        <locationX>270</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Iterate_selectes_users.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_user_To_userList</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Actiavteuser</name>
        <choiceText>Activate User</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>DeactivateUser</name>
        <choiceText>Deactivate User</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Activate_or_Deactivate_user</name>
        <label>Activate or Deactivate user</label>
        <locationX>556</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Deactive_user_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deactivate_user_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeactivateUser</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Active_Users</targetReference>
            </connector>
            <label>Deactivate user</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Add_user_To_userList_Null_or_Not</name>
        <label>Check Add_user_To_userList Null or Not</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>user_list</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_to_deactivate</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_user_selected_or_Not</name>
        <label>Check user selected or Not</label>
        <locationX>1150</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>iterate_users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_selected_for_activation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_user_to_activate</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>iterate_users.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActivateUser</targetReference>
            </connector>
            <label>User selected for activation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_users_selected_or_Not</name>
        <label>Check users selected or Not</label>
        <locationX>402</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Iterate_selectes_users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_User</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Iterate_selectes_users.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_user</targetReference>
            </connector>
            <label>User Selected</label>
        </rules>
    </decisions>
    <description>Deactivate the Multiple user</description>
    <dynamicChoiceSets>
        <name>Active_user_collection</name>
        <collectionReference>getUserRecordId</collectionReference>
        <dataType>String</dataType>
        <displayField>Username</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Activeusers</name>
        <dataType>String</dataType>
        <displayField>Username</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>Equad=slTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Deactive_user_list</name>
        <dataType>String</dataType>
        <displayField>Username</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Deactivate multiple users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deactivate multiple users</label>
    <loops>
        <name>Iterate_selectes_users</name>
        <label>Iterate selectes users</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <collectionReference>getUserRecordId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_users_selected_or_Not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Add_user_To_userList_Null_or_Not</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterate_users</name>
        <label>iterate users</label>
        <locationX>930</locationX>
        <locationY>638</locationY>
        <collectionReference>getUserRecordId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_user_selected_or_Not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateToActivate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getUserRecordId</name>
        <label>getUserRecordId</label>
        <locationX>556</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Activate_Deactivate_users</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_to_deactivate</name>
        <label>Update_User_to_deactivate</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Users</targetReference>
        </connector>
        <inputReference>user_list</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateToActivate</name>
        <label>UpdateToActivate</label>
        <locationX>930</locationX>
        <locationY>1310</locationY>
        <inputReference>Lise_of_user_to_Activate</inputReference>
    </recordUpdates>
    <screens>
        <name>Activate_Deactivate_users</name>
        <label>Activate/Deactivate users</label>
        <locationX>556</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Activate_or_Deactivate_user</targetReference>
        </connector>
        <fields>
            <name>Select_Action</name>
            <choiceReferences>Actiavteuser</choiceReferences>
            <choiceReferences>DeactivateUser</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Active_Users</name>
        <label>Active Users</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Iterate_selectes_users</targetReference>
        </connector>
        <fields>
            <name>Select_User</name>
            <choiceReferences>Activeusers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select User to deactivate</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deactive_user_screen</name>
        <label>Deactive_user_screen</label>
        <locationX>930</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>iterate_users</targetReference>
        </connector>
        <fields>
            <name>Select_user_to_activate</name>
            <choiceReferences>Deactive_user_list</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select user to activate</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Users</name>
        <label>Users</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Users_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Users_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Active_user2</name>
                    <fieldText>&lt;p&gt;{!Active_user_collection}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Users_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>430</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getUserRecordId</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Lise_of_user_to_Activate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>user_list</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
