Test_flow/force-app/main/default/flows/Update_Selected_Opp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Assign</name>
        <label>Add_Assign</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Opplist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleOppp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Id</name>
        <label>Assign_Id</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>singleOppp.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleOppp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Assign</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update_Selected_Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update_Selected_Opp</label>
    <loops>
        <name>opp</name>
        <label>opp</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>update_record</name>
        <label>update_record</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <inputReference>Opplist</inputReference>
    </recordUpdates>
    <screens>
        <name>Show_ids</name>
        <label>Show_ids</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>opp</targetReference>
        </connector>
        <fields>
            <name>ids_p</name>
            <fieldText>&lt;p&gt;{!ids}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Show_ids</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opplist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>singleOppp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
